@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


:root {
    font-size: 62.5%;
    font-family: 'Poppins';

    --h-xxl: 9.044rem;
    --h-xl: 6.396rem;
    --h1: 4.523rem;
    --h2: 3.199rem;
    --h3: 2.262rem;
    --h4: 1.6rem;
    --p: 1.6rem;
    --brand-gradient: linear-gradient(82deg, rgba(81,177,215,1) 0%, rgba(19,134,180,1) 100%);
    --black: #000;
    --white: #fff;  
    --blue: #1386B4;

    --content-padding: 384px;
    --section-padding-inside: 40px;
    --section-padding-outside: 80px;
}

body {
    margin: 0;
    overflow-x: hidden;
}




/*  HEADER STYLES START  */

header {
    display: flex;
    justify-content: space-between;
    margin: 16px 256px;
}

nav > ul {
    padding: 0;
    list-style: none;
    display: flex;
    margin: 0;
    column-gap: 32px;
}

nav > ul > li {
    font-size: var(--h4);
    font-weight: 700;
    height: max-content;
}

nav > ul > li > a {
    text-decoration: none;
    color: var(--black);
}

.menu-btn {
    display: none;
}

nav ul li a.active::after {
    display: block;
    content: '';
    width: 100%;
    height: 2px;
    background: var(--brand-gradient);
    margin-top: -3px;
}


/*  HEADER STYLES END  */



/*  FOOTER STYLES START  */

footer {
    display: flex;
    margin-top: 112px;
    padding: 88px 256px;
    background: var(--brand-gradient);
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
}

footer a {
    text-decoration: none;
    color: black;
}

.footer--links-container ul {
    padding: 0;
    list-style: none;
    display: flex;
    font-size: var(--p);
    font-weight: 700;
}

.footer--links-local {
    gap: 32px;
}

.footer--links-global {
    gap: 16px;
}

/*  FOOTER STYLES END  */



/*  HOME STYLE START  */

.home--hero {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 60px);
    align-items: center;
    justify-content: center;
    row-gap: 16px;
    position: relative;
    overflow: hidden;
}

.home--hero-img {
    position: absolute;
    top: 0;
    z-index: 2;
}

.home--hero-title {
    font-size: var(--h-xxl);
    font-weight: 700;
    margin: 0;
    text-align: center;
    z-index: 1;
}

.home--hero-cta {
    display: inline-block;
    box-sizing: border-box;
    background: var(--brand-gradient);
    color: var(--white);
    font-size: var(--h3);
    font-weight: 700;
    text-decoration: none;
    padding: 12px 32px;
    border-radius: 32px;
    box-shadow: 4px 4px 4px 0 rgba(0,0,0,0.25);
    z-index: 3;
}


.home--about {
    background: var(--brand-gradient);
    box-sizing: border-box;
    overflow: hidden;
    color: var(--white);
    padding-inline: var(--content-padding);
    box-shadow: 0 0 4px 4px rgba(0,0,0,0.25);
}

.home--about h4 {
    margin: var(--section-padding-inside) 0 0 0;
    font-size: var(--h4);
    font-weight: 700;
}

.home--about p {
    margin: 0;
    margin-top: 16px;
    font-size: var(--p);
    margin-bottom: var(--section-padding-inside);
}

.text--brand-name {
    font-weight: 700;
}



.home--info {
    padding-inline: var(--content-padding);
    margin-top: var(--section-padding-outside);
}

.home--info h4 {
    font-size: var(--h4);
    margin: 0;
}

.home--info-timeline {
    display: grid;
    grid-template-columns: 3px 1fr;
    column-gap: 16px;
    margin-top: 16px;
}

.timeline-component:first-of-type {
    max-height: 16px;
}

#first-timeline-content {
    margin-bottom: 16px;
}

.timeline-component {
    height: 100%;
    width: 4px;
    display: block;
    background: var(--brand-gradient);
    position: relative;
}

.timeline-dot-out {
    width: 16px;
    height: 16px;
    display: block;
    background: var(--brand-gradient);
    position: absolute;
    border-radius: 50%;
    transform: translateX(-50%);
    top: 0;
    left: 50%;
    box-sizing: border-box;
    display: grid;
    place-items: center;
}

.timeline-dot-in {
    width: 8px;
    height: 8px;
    display: block;
    background-color: var(--white);
    box-sizing: border-box;
    border-radius: 50%;
}

.timeline-content {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 32px;
}

.timeline-content p {
    font-size: var(--p);
    margin: 0;
}

.timeline-content img {
    aspect-ratio: 3 / 2;
    box-sizing: border-box;
    max-height: 180px;
}

/*  HOME STYLE END  */
